.text-right {
    text-align: right;
}

.alignitem-center {
    align-items: center;
}

.alignitem-end {
    align-items: flex-end;
}

.justify-content-center {
    justify-content: center;
    align-items: center;
}

.justify-content-end {
    justify-content: flex-end;
    align-items: flex-end;
}

.bg-cover {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
}

hr {
    border-color: $secondary;
    display: block;
}

.hero {
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 0;
    @include media('>=phone') {
        padding-top: 80px;
        padding-bottom: 38px;
    }
    @include media('>=desktop') {
        padding-left: 100px;
        padding-top: 141px;
        padding-bottom: 75px;
    }
    @include media('>=widescreen') {
        padding-left: 0;
        padding-bottom: 38px;
    }
    .img-holder {
        margin-bottom: 20px;
        @include media('>=desktop') {
            margin-right: -100px;
        }
        @include media('>=widescreen') {
            margin-right: -200px;
        }
    }
    .text {
        @include media('<=phone') {
            padding-left: 18px;
            padding-right: 18px;
            margin-bottom: 20px;
        }
    }
    h1, .sub-heading {
        @include media('<=phone') {
            margin-bottom: 26px;
        }
    }
    .sub-heading {
        @include media('<=phone') {
            font-size: 1.25rem;
            letter-spacing: 0.27em;
        }
    }
    .row {
        &.alignitem-center {
            @include media('<=desktop') {
                align-items: flex-start;
            }
        }
    }
}

.info-holder {
    overflow: hidden;
    padding-top: 55px;
    padding-bottom: 55px;
    @include media('<=phone') {
        padding-left: 18px;
        padding-right: 18px;
    }
    @include media('>=desktop') {
        padding-left: 100px;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    @include media('>=widescreen') {
        padding-left: 0;
    }
    .sub-heading {
        @include media('<=desktop') {
            font-size: 1.25rem;
        }
    }
}

.intro-holder {
    @include media('<=phone') {
        padding-left: 18px;
        padding-right: 18px;
    }
    .text {
        max-width: 642px;
        margin: 0 auto;
        position: relative;
        @include media('>=phone') {
            left: 20px;
        }
        @include media('>=tablet') {
            left: 80px;
        }
        @include media('>=desktop') {
            max-width: 850px;
            left: 0;
        }
    }
}

.count {
    font-size: 5.382rem;
    line-height: 0.8;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
    text-stroke-width: 1px;
    text-stroke-color: rgba(255, 255, 255, 0.5);
    font-family: $sohneBreit;
    text-align: right;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    display: block;
    margin-bottom: 17px;
    @include size(130px, auto);
    position: relative;
    right: -20px;
    top: -10px;
    margin-left: auto;
    @include media('>=widescreen') {
        right: -44px;
    }
    &.mediumx {
        @include size(150px, auto);
    }
    &.medium {
        @include size(120px, auto);
    }
    &.mediumxx {
        @include size(99px, auto);
    }
    img {
        @include size(100%, auto);
    }
}

.gallery {
    @include media('<=phone') {
        max-width: 351px;
        margin: 0 auto; 
    }
}

.gallery-holder {
    overflow: hidden;
    .posts {
        max-width: 1920px;
        margin: 0 auto;
        padding: 0 24px;
    }
    .post {
        margin-bottom: 24px;
        width: 100%;
        padding: 0 12px;
        min-height: 108px;
        @include media('>=phone') {
            min-height: 553px;
        }
        @include media('>=desktop') {
            min-height: 585px;
        }
        @include media('>=widescreen') {
            min-height: 792px;
        }
        @include media('>=phone') {
            width: 50%;
        }
        @include media('>=tablet') {
            width: 33.3%;
        }
        @media screen and (min-width: 1435px) {
            width: 25%;
        }
        &.dark {
            h3, p {
                color: $black;
            }
        }
        &.hover,
        &:hover {
            .caption-holder {
                opacity: 1; 
            }
        }
    }
    .card {
        position: relative;
        color: $white;
        height: 100%;
    }
    .text-holder {
        
    }
    p {
        font-size: 1.125rem;
        font-weight: 300;
        font-family: $proxima_novalight;
    }
    .meta {
        overflow: hidden;
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        margin-right: -10px;
        @include media('>=phone') {
            margin-bottom: 20px;
        }
        @include media('>=desktop') {
            margin-right: 0;
        }
        .text {
            width: calc(100% - 129px);
            @include media('>=desktop') {
                width: calc(100% - 129px);
            }
            @media screen and (min-width: 1435px) {
                width: calc(100% - 138px);
            }
        }
        .img {
            width: 129px;
            @include media('>=desktop') {
                width: 129px;
            }
            @media screen and (min-width: 1435px) {
                width: 138px;
            }
            img {
                width: 100%;
            }
        }
    }
    h4 {
        margin-bottom: 0;
        color: $white;
        font-family: $sohneBreit;
    }
    h5 {
        margin-bottom: 0;
        font-family: $sohneBreit;
    }
    h3 {
        text-transform: uppercase;
        letter-spacing: 0.385em;
        color: $white;
        word-break: break-all;
    }
    .img-holder {
        z-index: -1;
        position: relative;
        min-height: 0;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        transition: all 0.7s ease;
        @include media('>=phone') {
            @include position(0,0,0,0);
            background-position: top center;
            z-index: inherit;
        }
        .count {
            @include position(auto,0,0,auto);
            @include media('>=phone') {
                display: none;
            }
        }
    }
    .caption-content {
        margin-bottom: 20px;
        @include media('<=phone') {
            margin-bottom: 15px;
        }
    }
    .caption-footer {
        
    }
    .card {
        &.post-active {
            .caption-holder {
                max-height: 4000px;
                transition: all 0.7s ease;
                z-index: 2;
            }
            .img-holder {
                min-height: 327px;
            }
            .img-opener {
                z-index: 1;
                opacity: 0;
                max-height: 0;
                visibility: hidden;
                &.close {
                    z-index: 99;
                    display: block;
                    max-height: 4000px;
                    visibility: visible;
                    transform: scale(1);
                    opacity: 1;
                }
            }
        }
    }
    .img-opener {
        &.close {
            z-index: 99;
            opacity: 1;
            transform: scale(0);
            @include size(45px, 44px);
            margin: 16px;
        }
    }
    .img-opener {
        overflow: hidden;
        @include position(0,0,auto,0);
        z-index: 2;
        max-height: 4000px;
        visibility: visible;
        transition: all 0.7s ease;
        @include media('>=phone') {
            display: none !important;
        }
        .count {
            @include position(50%,0,auto,auto);
            transform: translateY(-50%);
        }
        img {
            width: 100%;
        }
    }
    .caption-frame {
        height: 100%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        padding: 40px 15px 30px;
        @include media('>=phone') {
            padding: 0 15px 23px;
        }
        @include media('>=desktop') {
            padding: 0 20px 23px;
        }
        @include media('>=widescreen') {
            padding: 0 35px 23px;
        }
    }
    .caption-holder {
        transition: all 0.7s ease;
        position: relative;
        z-index: 1;
        overflow: hidden;
        max-height: 0;
        
        @include media('>=phone') {
            opacity: 0;
            max-height: 4000px;
            height: 100%;
            transition: all 0.3s ease;
            z-index: 2;
            
        }
        .count {
            display: none;
            @include media('>=phone') {
                display: block;
            } 
        }
        h3 {
            @include media('<=phone') {
                margin-bottom: 19px;
            }
        }
    }
}

.social {
    @extend %clearfix;
    @extend %listreset; 
    display: flex;
    align-items: center;
    margin: 0 -12px 50px;
    @include media('<=phone') {
        justify-content: center;
        margin: 0 -12px 25px;
    }
    li {
        margin: 0 12px;
        padding: 0;
        a {
            background: none;
            svg {
                @include size(32px, 32px);
            }
        }
    }
    
}

.details-holder {
    overflow: hidden;
    padding-top: 30px;
    padding-bottom: 30px;
    @include media('>=phone') {
        padding-top: 116px;
        padding-bottom: 116px;
    }
    @include media('>=desktop') {
        padding-top: 180px;
        padding-bottom: 200px;
    }
    @include media('>=widescreen') {
        padding-top: 200px;
        padding-bottom: 226px;
    }
    .text {
        max-width: 1280px;
        margin: 0 auto;
        p {
            @include media('<=desktop') {
                font-size: 1.25rem;
            }
            @include media('<=phone') {
                font-size: 1rem;
            }
            strong {
                @include media('<=desktop') {
                    font-size: 1.25rem;
                }
                @include media('<=phone') {
                    font-size: 1rem;
                }
            }
        }
    }
    h2 {
        margin-bottom: 50px;
        @include media('<=phone') {
            margin-bottom: 14px;
        }
    }
}

.join-holder {
    overflow: hidden;
    @include media('<=phone') {
        padding-top: 79px;
        margin-bottom: 50px;
        text-align: center;
        background: $lightapricot;
        .row {
            flex-direction: column-reverse;
        }
    }
    @include media('>=widescreen') {
        margin-bottom: 24px;
    }
    .box-holder {
        @include media('<=phone') {
            display: flex;
            flex-direction: column-reverse;
        }
    }
    p {
        @include media('<=phone') {
            font-size: 1.25rem;
            margin-bottom: 30px;
        }
    }
    h2 {
        margin-bottom: 53px;
        @include media('<=phone') {
            margin-bottom: 15px;
        }
    }
    .container {
        max-width: 1920px;
        @include media('<=widescreen') {
            padding-left: 0;
            padding-right: 0;
        }
    }
    .text-block {
        max-width: 340px;
        margin: 0 auto;
        @include media('>=desktop') {
            max-width: 400px;
        }
    }
}